@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

.content {
    display: flex;
    align-items: center;
}

h1 {
    padding-top: 50px;
    padding-left: 25px;
    font-size: 128px;
    font-weight: bold;
    font-family: 'Kanit';
    background: linear-gradient(44deg, #0D23D2, #0022FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 24px;
    font-family: 'Kanit';
    font-weight: bold;
}

.error {
    margin-right: 20px;
    font-size: 128px;
    font-weight: bold;
    font-family: 'Kanit';
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Kanit';
    background: linear-gradient(90deg, #0D23D2 44%, #0022FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Kanit';
}

footer {
    background-color: #204283;
    border-top: 1px solid #204283;
    width: auto;
    height: 52px;
    display: block; /* Ensure the element is displayed */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer p {
    color: #fff;
    font-size: 0.8rem;
    padding-left: 50px;
    font-family: 'Kanit';
    background: linear-gradient(90deg, #0D23D2, #0022FF);
}