@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

.topbar {
    color: #ffff;
    padding: 15px;
    margin: 15px;
}

img {
    width: 155px;
    height: 34px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.buttonco {
    border-radius: 25px;
    width: 369px;
    height: 48px;
    font-family: 'Kanit', bold;
    font-size: 20px;
    color: #ffff;
    margin-top: 125px;
}


.container {
    margin-top: 100px;
    display: flex;
    padding-left: 50px;
    justify-content: start;
    align-items: center;
}

.conxcard {
    border-radius: 33px;
    width: 425px;
    height: 678px;
    justify-content: start;
}

.conxcard-body {
    width: 425px;
    height: 607px;
    margin-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: start;
    border-radius: 33px;
    background-color: #ffffff;
    border-color: #000000;
}

.eptxt {
    background-color: #204283;
    color: #ffff;
    font-family: 'Kanit', bold;
    font-size: 24px;
    width: 425px;
    padding: 15px;
    margin-bottom: 25px;
    text-align: center;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
}

.input-box {
    background-color: #808080;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    margin-bottom: 15px;
}

label {
    font-family: 'Kanit', bold;
    font-size: 18px;
    color: #000000;
}

.input-box input {
    width: 100%;
    padding: 10px;
}

.mdpoubli {
    text-decoration: none;
    color: gray;
}

footer {
    background-color: #0072BC;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
}